 

  .slide1
  {
       margin-left: 50px;
  }
 
  

  .slide1
  {
      height: fit-content;
  }


.label-style
{
  font-size: 10px;
}
.mrp-style
{
  font-size: 12px;
  font-style: bold;
  height: 1px;
}


.veg-size
{
    height: 15px; 
    width: 15px;
}

  .personal{
    color: #58595B;
    display: block;
    font: 150   'Roboto Slab', serif;
    border-bottom: #cec9c9 solid 1px;
    color: #a83271;
    height: 42px;
    margin-top: 15px;
    font-size: 100%;
    }
    .profile{
      color: #58595B;
      display: block;
      font:  'Roboto Slab', serif;
      font-size: 15px;
      border-bottom: #cec9c9 solid 1px;
      color: #a83271;
      margin-top: 15px;
      }


.profile:hover
{
  color: #bf1961;
  font-size: 15px;
}
.head-block
{
  color: #58595B;
    display: block;
    font: 300 24px/24px 'Roboto Slab', serif;
    border-bottom: #cec9c9 solid 1px;
    color: #a83271;
    margin-top: 15px;
}
.select-box
{
    height: 100px;
}
.sub-list
{
  width: 100%;
}
.card-style{
  background-color: #f1ebee;
}
.flex-style:hover
{
  box-shadow: 5px 10px 18px #aeafb1;
}
.add-btn
{
  border-radius: 2px;
  height:25px;
  background-color: #fee67c;
  width: 70px;
}
    
.input-group-addon{
  border-right: 0;
    padding: 0 4px;
    height:23px;
    width: 68px;
    font-size: 12px;
    border-radius: 2px;
    color: rgb(150, 140, 140);
    font: 12px/16px ProximaNovaA-Regular;
    border-color: #e0e0e0;
     font-size: 16px;
    color: #222;
    font-family: ProximaNovaA-Regular;
    border-bottom: 2px solid #bf1961;
    display: block;
}
.input-style{
  height:23px;
  width: 63px;
  border-radius: 2px;
  border-color: #aa9fa4;
}
 .scroll-list
 {
   font-size: small;
   border: none;
   height: 110px;
 }
.search-brand
{
  height: 30px;
}
.chech-text
{
  color: #67717a;
} 
.seasonal-text
{
  font-size: small;
  color: #67717a;
}
.category-style
{
  font-size: 16px;
    color: #222;
    font-family: ProximaNovaA-Regular;
    border-bottom: 2px solid #bf1961;
    display: block;
}
 
.fruit-btn-grp
{
  background-color: white;
  color: black;
  border-bottom: 2px solid #bf1961;

  height: 30px;
    
  font-size: 15px;
}
.fruit-btn-grp:hover
{
  background-color:#bf1961;
  font-size: 15px;
  color: rgb(255, 255, 255);
}
.popularity
{
   
  border-color: #a83271;

}
.input-group-addon1{
  border-right: 0;
    padding: 0 4px;
    height:23px;
    width: 68px;
    font-size: 12px;
    border-radius: 2px;
    color: rgb(150, 140, 140);
    font: 12px/16px ProximaNovaA-Regular;
    border-color: #b9b4b4;
}
 .sub-head
 {
   color: #a83271;
 }  
 

  